<%- include('Partiel/header-home.ejs') %>
    <main>
        <section class="about-section">
            <div class="bloc-title">
                <h3>ABOUT</h3>
                <p>Us</p>
            </div>
           
            <div class="text-about">
                <div>
                    We’re a group of passionate chocolate brownie lovers in Calicut who have come together to create the
                    perfect brownie. Our handcrafted chocolate brownies are made using only the finest ingredients
                    available, and we take great care to ensure that each brownie is packed with flavor and
                    deliciousness.
                </div>
                <div>
                    As a small business in Calicut, we are committed to creating a truly amazing brownie experience for
                    our customers. We believe that our brownies have the power to bring people together and create
                    moments of joy, and we take great pride in our product.
                </div>
                <div>
                    Our mission is to spread joy through the power of brownies in Calicut, and we hope that you will
                    join us in our journey. Thank you for choosing us as your go-to source for the ultimate fudgy, rich
                    chocolate brownies in Calicut!
                </div>
            </div>
            <div class="btn-readMore">
                <span>
                  <a href="/about">Read More</a>
                </span>
            </div>
           
        </section>
        <section class="our">
            <div class="bloc-title">
                <h3>OUR</h3>
                <p>Bestsellers</p>
            </div>
        </section>
    </main>






    <%- include('Partiel/footer.ejs') %>