<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="">
  <title>restaurant</title>
  <link rel="stylesheet" href="Styles/header.css">
  <link rel="stylesheet" href="Styles/style.css">


</head>

<body>
  <section class="barner">
    <header class="header">
      <nav>
        <a href="/">HOME</a>
        <a href="/About">ABOUT</a>
        <a href="/">
          <img src="svg/logo.svg" alt="logos du site (brash-brownie)">
        </a>
        <a href="/shop">SHOP</a>
        <a href="/contact">CONTACT US</a>
      </nav>
      <div class="intro">
        <div>
          <h1>CASHEW</h1>
          <p>Brownie</p>
        </div>
        <div>
          <p>
            Meet the famous chocolate <br><span> Brownies</span> in calicut
          </p>
          <div>
            <span>
              <a href="/shop">shop now</a>
            </span>
          </div>
        </div>

      </div>
    </header>
  </section>