<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <title>restaurant</title>
    <link rel="stylesheet" href="Styles/header.css">
    <link rel="stylesheet" href="Styles/Admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  </head>
  <body>
    <header>
        <nav>
            <a href="/">HOME</a> 
            <a href="/About">ABOUT</a>
            <a href="/">
                <img src="svg/logo.svg" alt="logos du site (brash-brownie)">
            </a>
            <a href="">SHOP</a>
            <a href="">CONTACT US</a>
        </nav>
</header>
   
     
  
